@import url('style.css');
/* ====================== HOMEPAGE ===================== */
@media screen and (max-width: 1280px) {
    /* .our-details {
        grid-template-columns: 1fr; /* Stacks items on smaller screens
    } */
     
    .feedback-heading{
        font-size: 2rem;
    }

    .nav-links {
        color: gold;
    }
}


@media screen and (max-width: 1024px) {
    .nav-links {
        color: violet;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        min-height: 50vh;
    }

    .about-hero {
        min-height: calc(50vh - 80px);
    }

    .logo-link {
        font-size: 14px;
    }

    .sidebar {
        width: 100%;
    }

    .open-sidebar {
        display: block
    }

    .hide-from-navbar {
        display: none;
    }

    /* ====================== HERO TEXT SECTION ======================= */
    .hero-textbox {
        padding-top: 4rem;
    }

    .hero-heading {
        font-size: 3rem;
        width: 300px;
    }

    /* ======================= WHAT WE OFFER SECTION ==================== */
    .offer {
        font-size: 20px;
    }
    .preview-card {
        flex-direction: column;
        padding: 0 20px;
    }

    .cards {
        width: 100%;
    }

    /* ================ FEEDBACK (TESTIMONIAL) SECTION ================= */
    .feedback {
        flex-direction: column;
        height: 950px;
    }

    .feedback-bg {
        width: 100%;
        height: 50%;
        padding: 1rem;
    }

    .feedback-text {
        width: 100%;
        height: 50%;
        padding: 1.5rem 2rem;
    }

    .feedback-heading {
        font-size: 1.5rem;
    }

    .customer-review {
        flex-direction: column;
        top: 25%;
        left: 8%;
        z-index: 1000;
        width: 350px;
        gap: 20px;
    }

    .review-card {
        width: 100%;
        padding: 1rem;
    }

    .gallery {
        display: none;
    }

/* ============================ FOOTER SECTION ========================== */
    .footer {
        flex-direction: column;
        padding: 2rem;
    }

    .footer ul {
        margin-bottom: 2rem;
        text-align: left;
        width: 100%;
    }

    .footer a {
        text-align: left;
    }


/* ========================= ABOUT US PAGE ============================= */
    .about-us__facts {
        flex-direction: column;
        padding: 0 1rem;
    }

    .fact-cards {
        width: 100%;
    }

    .facts-heading {
        font-size: 14px;
    }

    .our-story {
        flex-direction: column-reverse;
        height: auto;
    }

    .our-story__text {
        width: 100%;
    }

    .our-story__img {
        width: 100%;
    }

/* =========================== CONTACT US PAGE =========================== */
    .contact-details-box {
        flex-direction: column;
        flex-basis: 100%;
    }

    .our-contact, .user-contact{
        width: 100%;
    }

    .our-details {
        grid-template-columns: 1fr;
    }

    .our-details li::before {
        top: 20%;
        transform: translate(-20%);
    }

    .user-info {
        flex-direction: column;
    }

    .reserve-heading {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .nav-links {
        color: red;
    }
}

/* ======================== ABOUT PAGE ====================== */

/* ======================== BLOG PAGE ====================== */

/* ======================== CONTACT PAGE ====================== */